@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{margin: 0;padding: 0}
html, body{width:100%;background-color: #fff;color: #000;font-family: Microsoft Yahei,Helvetica,Arial;font-size: 20px;}
body{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;-webkit-touch-callout:none;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
input,textarea{-webkit-user-select:auto !important;user-select: auto !important;}
input, button, textarea{font-family: Microsoft Yahei,Helvetica,Arial;}
img{vertical-align:middle;border:0 none;}
a{text-decoration:none;color:inherit;}
:focus{outline: none;}
input{outline:none;}
@media only screen and (min-width:640px){
    html,body{font-size: 40px;}
}