@charset "utf-8";
/** 项目级reset **/
body{background-color: #eee;}
.content{margin-top: 2.2rem;}

/** 用户信息 **/
.user-info{background: url("../images/user-bg.png") no-repeat center;background-size: 100% 100%;color: #fff;}
.user-info .user-basic{position: relative;width: 100%;height: 4.4rem;overflow: hidden;}
.user-info .user-basic .user-avatar{position: absolute;left: .75rem;top: .5rem;height: 3.4rem;border-radius: 50%;-webkit-box-shadow: 0px 0px 0px 1px #FFF, 0px 0px 0px 2px rgba(255, 255, 255, 0.8);box-shadow: 0px 0px 0px 1px #FFF, 0px 0px 0px 2px rgba(255, 255, 255, 0.8);}
.user-info .user-basic .user-name{margin-left: 4.9rem;padding-top: .5rem;font-size: .8rem;}
.user-info .user-basic .member-badge{display: inline-block;margin-left: 4.9rem;margin-top: .25rem;padding: .1rem;font-size: .5rem;background-color: #fe463c;}
.user-info .user-basic .remaining{margin-left: 4.9rem;padding-top: .4rem;font-size: .6rem;}
.user-info .user-basic .remaining em{font-style: normal;}
.user-info .user-stat{width: 100%;overflow:hidden;background-color:rgba(0,0,0,.5);}
.user-info .user-stat a{float: left;display:block;width:33.3333%;padding: .5rem 0;text-align:center;line-height: .75rem;font-size: .65rem;color: #fff;}
.user-info .user-stat a:nth-child(2){position: relative;width: 33.3334%;}
.user-info .user-stat a:nth-child(2):before,.user-info .user-stat a:nth-child(2):after{position:absolute;top:.75rem;border-left: .05rem solid white;height:1rem;content:"";font-size:0;line-height:0;width:0;}
.user-info .user-stat a:nth-child(2):before{left:0;}
.user-info .user-stat a:nth-child(2):after{right:0;}
.user-info .user-stat a em{display:block;font-style:normal;}
/** 功能区块 **/
.f-section{margin-bottom: .5rem;background-color: #fff;}
.order-section{margin-top: .5rem;}
.f-section .order-nav{text-align: center;font-size: .6rem;}
.f-section .order-nav ul{display: block;list-style: none;}
.f-section .order-nav ul:after{content: "";display: block;clear: both;height: 0;}
.f-section .order-nav ul li{display: inline-block;float: left;width: 25%;}
.f-section .order-nav ul li a{position: relative;display: inline-block;width: 100%;padding: 1.8rem 0 .25rem;background: url("../images/pd-pay.png") no-repeat center .4rem;background-size: 1.4rem;line-height: .6rem;color: #999;}
.f-section .order-nav ul li a .badge{position: absolute;top: .2rem;right: 28%;display: inline-block;height: .8rem;width: .8rem;border-radius: .4rem;background-color: #fe463c;line-height: .8rem;font-size: .6rem;color: #fff;}
.f-section .order-nav ul li .pd-pay{background-image: url("../images/pd-pay.png");}
.f-section .order-nav ul li .pd-receipt{background-image: url("../images/pd-receipt.png");}
.f-section .order-nav ul li .pd-comment{background-image: url("../images/pd-comment.png");}
.f-section .order-nav ul li .pd-return{background-image: url("../images/pd-return.png");}