@charset "utf-8";
/** 项目级reset **/
body{background-color: #fff;}
.header{border-bottom: .05rem solid #B2B2B2;}
.header .menu{background: none;padding-left: .8rem;}
.content{margin-top: 2.2rem;}

/** 店铺收藏页 **/
.shop-list{list-style: none;width: 100%;margin: 0 auto;}
.shop-item{display: block;height: 3rem;padding: .5rem .5rem .5rem .75rem;border-bottom: .05rem solid #ddd;}
.shop-item .item-wrap{position: relative;height: 100%;}
.shop-item .s-logo{position: absolute;top: 0;left: 0;display: inline-block;width: 3rem;height: 3rem;-webkit-border-radius: 50%;border-radius: 50%;}
.shop-item .s-info{height: 100%;margin: 0 2.4rem 0 3rem;padding: 0 .5rem;overflow: hidden;}
.shop-item .s-info .s-name{margin-top: .2rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: .7rem;color: #323232;}
.shop-item .s-info .s-rank{}
.shop-item .s-info .s-rank b{display: inline-block;width: .8rem;height: .8rem;background: url('../images/star.png') no-repeat center;background-size: 100%;}
.shop-item .s-info .s-rank .stared{background-image: url('../images/stared.png');}
.shop-item .s-info .s-rank .half-stared{background-image: url('../images/star-half.png');}
.shop-item .s-delete{position: absolute;top: 0;right: 0;display: inline-block;width: 2.4rem;height: 100%;background: url('../images/delete.png') no-repeat right .6rem;background-size: 1.6rem;}